body{
    margin: 0;
    background-color: #757263;
    color: #FFFFFF;
    overflow:visible;
}

header {
    overflow: hidden;
    background-color: #555349;
    padding: 20px;
}

.header {
    float: left;
    color: white;
    margin: 0;
}

/* navbar */
.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: right;
}

.navlist {
    display: inline-block;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #757263;
}

.home_name{
    display: block;
    color: white;
    text-align: center;
    padding: 5px;
    text-decoration: none;
}

.top_home_txt{
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 500px;
}

.container {
    display: flex;
    align-items: center;
}

.heading {
    margin: 5.2083vw 7.813vw 5.2083vw;
}

.paragraph {
    width: 55vw;
    font-size: larger;
    margin-right: 5.2083vw;
}

/* case study */
.cs_heading{
    text-align: center;
} 

.cs_div{
    width: 50%;
    margin: auto;
}

.dorms_pic{
    width: 70vw;
    margin: auto;
    display: block;
}

.ideation_list{
    list-style-type: disc;
}

.ideation_desc{
    list-style-type: none;
    padding: 0;
}

.ideation_desc::before{
    content: "➔";
}


/* SYSTEM AND SDG NUMBER BRAINSTORMING */
.brainstorming_whole{
    display: block;
    width: 70vw;
    cursor: zoom-in;
    transition: 1s ease;
    margin: auto;
}

#zoom_img[type=checkbox]{
    display: none;
}

#zoom_img[type=checkbox]:checked ~ label > .brainstorming_whole {
    transform: scale(1.75);
    cursor: zoom-out;
}

/* CHOSEN IDEAS */
.brainstorming_chosen{
    display: block;
    width: 50vw;
    cursor: zoom-in;
    transition: 1s ease;
    margin: auto;
}

#chosen_img[type=checkbox]{
    display: none;
}

#chosen_img[type=checkbox]:checked ~ label > .brainstorming_chosen {
    transform: scale(1.75);
    cursor: zoom-out;
}

/* 1ST SDG CHOSEN */
.sdg11{
    display: block;
    width: 40vw;
    cursor: zoom-in;
    transition: 1s ease;
    margin: auto;
}

#sdg11[type=checkbox]{
    display: none;
}

#sdg11[type=checkbox]:checked ~ label > .sdg11 {
    transform: scale(1.75);
    cursor: zoom-out;
}