body{
    margin: 0;
    background-color: #757263;
    color: #FFFFFF;
    overflow:visible;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 550;
    font-style: normal;
    font-variation-settings:
    "slnt" 0;
}

header {
    overflow: hidden;
    background-color: #555349;
    padding: 20px;
}

.header {
    float: left;
    color: white;
    margin: 0;
}

/* navbar */
.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: right;
}

.navlist {
    display: inline-block;
}

.navlist a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navlist a:hover {
    background-color: #757263;
}

.home_name{
    display: block;
    color: white;
    text-align: center;
    padding: 5px;
    text-decoration: none;
}

.top_home_txt{
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 500px;
}

.container {
    display: flex;
    align-items: center;
}

.heading {
    margin: 5.2083vw 7.813vw 5.2083vw;
}

.paragraph {
    width: 55vw;
    font-size: larger;
    margin-right: 5.2083vw;
}

/* case study */
.cs_heading{
    text-align: center;
} 

.cs_div{
    width: 90%;
    margin: auto;
}

.cs_narrative{
    width: 80%;
    margin: auto;
    background-color: #555349;
    padding: 54px 70px 54px 0px;
}

.dorms_pic{
    width: 70vw;
    margin: auto;
    display: block;
}

.ideation_list{
    list-style-type: disc;
}

.ideation_desc{
    list-style-type: none;
    padding: 0;
}

.ideation_desc::before{
    content: "->";
}

.bullet_hollow{
    list-style-type: circle;
    margin-left: 30px;
}

.list_dash{
    list-style-type: none;
}

.list_dash::before{
    content: "-";
    margin-left: 40px;
}

.list_none{
    list-style-type: none;
    margin-left: 30px;
}

/* SYSTEM AND SDG NUMBER BRAINSTORMING */
.brainstorming_whole{
    display: block;
    width: 70vw;
    cursor: zoom-in;
    transition: 1s ease;
    margin: auto;
}

#zoom_img[type=checkbox]{
    display: none;
}

#zoom_img[type=checkbox]:checked ~ label > .brainstorming_whole {
    transform: scale(1.75);
    cursor: zoom-out;
}

/* CHOSEN IDEAS */
.brainstorming_chosen{
    display: block;
    width: 50vw;
    cursor: zoom-in;
    transition: 1s ease;
    margin: auto;
}

#chosen_img[type=checkbox]{
    display: none;
}

#chosen_img[type=checkbox]:checked ~ label > .brainstorming_chosen {
    transform: scale(1.75);
    cursor: zoom-out;
}

/* 1ST SDG CHOSEN */
.sdg11{
    display: block;
    width: 40vw;
    cursor: zoom-in;
    transition: 1s ease;
    margin: auto;
}

#sdg11[type=checkbox]{
    display: none;
}

#sdg11[type=checkbox]:checked ~ label > .sdg11 {
    transform: scale(1.75);
    cursor: zoom-out;
}

/* TARGET DEMOGRAPHICS */
.tdemo{
    display: block;
    width: 40vw;
    cursor: zoom-in;
    transition: 1s ease;
    margin: auto;
}

#tdemo[type=checkbox]{
    display: none;
}

#tdemo[type=checkbox]:checked ~ label > .tdemo {
    transform: scale(1.75);
    cursor: zoom-out;
}

/* USER: STUDENT */
.pstudent{
    display: block;
    width: 40vw;
    cursor: zoom-in;
    transition: 1s ease;
    margin: auto;
}

#pstudent[type=checkbox]{
    display: none;
}

#pstudent[type=checkbox]:checked ~ label > .pstudent {
    transform: scale(1.75);
    cursor: zoom-out;
}

/* USER: EMPLOYEE */
.pemployee{
    display: block;
    width: 40vw;
    cursor: zoom-in;
    transition: 1s ease;
    margin: auto;
}

#pemployee[type=checkbox]{
    display: none;
}

#pemployee[type=checkbox]:checked ~ label > .pemployee {
    transform: scale(1.75);
    cursor: zoom-out;
}

/* USER: EMPLOYEE WITH FAMILY */
.pemployeewfam{
    display: block;
    width: 40vw;
    cursor: zoom-in;
    transition: 1s ease;
    margin: auto;
}

#pemployeewfam[type=checkbox]{
    display: none;
}

#pemployeewfam[type=checkbox]:checked ~ label > .pemployeewfam {
    transform: scale(1.75);
    cursor: zoom-out;
}

/* USER: HOMEOWNER*/
.phomeowner{
    display: block;
    width: 40vw;
    cursor: zoom-in;
    transition: 1s ease;
    margin: auto;
}

#phomeowner[type=checkbox]{
    display: none;
}

#phomeowner[type=checkbox]:checked ~ label > .phomeowner {
    transform: scale(1.75);
    cursor: zoom-out;
}

/* USER: ADMIN*/
.padmin{
    display: block;
    width: 40vw;
    cursor: zoom-in;
    transition: 1s ease;
    margin: auto;
}

#padmin[type=checkbox]{
    display: none;
}

#padmin[type=checkbox]:checked ~ label > .padmin {
    transform: scale(1.75);
    cursor: zoom-out;
}


/* EMPATHY: STUDENT */
.estudent{
    display: block;
    width: 80vw;
    cursor: zoom-in;
    transition: 1s ease;
    margin: auto;
}

#estudent[type=checkbox]{
    display: none;
}

#estudent[type=checkbox]:checked ~ label > .estudent {
    transform: scale(1.75);
    cursor: zoom-out;
}

/* EMPATHY: EMPLOYEE */
.eemployee{
    display: block;
    width: 80vw;
    cursor: zoom-in;
    transition: 1s ease;
    margin: auto;
}

#eemployee[type=checkbox]{
    display: none;
}

#eemployee[type=checkbox]:checked ~ label > .eemployee {
    transform: scale(1.75);
    cursor: zoom-out;
}

/* EMPATHY: EMPLOYEE WITH FAMILY */
.eewfam{
    display: block;
    width: 80vw;
    cursor: zoom-in;
    transition: 1s ease;
    margin: auto;
}

#eewfam[type=checkbox]{
    display: none;
}

#eewfam[type=checkbox]:checked ~ label > .eewfam {
    transform: scale(1.75);
    cursor: zoom-out;
}

/* EMPATHY: HOMEOWNER*/
.eowner{
    display: block;
    width: 80vw;
    cursor: zoom-in;
    transition: 1s ease;
    margin: auto;
}

#eowner[type=checkbox]{
    display: none;
}

#eowner[type=checkbox]:checked ~ label > .eowner {
    transform: scale(1.75);
    cursor: zoom-out;
}

/* EMPATHY: ADMIN*/
.eadmin{
    display: block;
    width: 80vw;
    cursor: zoom-in;
    transition: 1s ease;
    margin: auto;
}

#eadmin[type=checkbox]{
    display: none;
}

#eadmin[type=checkbox]:checked ~ label > .eadmin {
    transform: scale(1.75);
    cursor: zoom-out;
}

/* SCAMPER: WHOLE*/
.scamperwhole{
    display: block;
    width: 80vw;
    cursor: zoom-in;
    transition: 1s ease;
    margin: auto;
}

#scamperwhole[type=checkbox]{
    display: none;
}

#scamperwhole[type=checkbox]:checked ~ label > .scamperwhole {
    transform: scale(1.75);
    cursor: zoom-out;
}

/* FISHBONE: WHOLE*/
.fishbonewhole{
    display: block;
    width: 80vw;
    cursor: zoom-in;
    transition: 1s ease;
    margin: auto;
}

#fishbonewhole[type=checkbox]{
    display: none;
}

#fishbonewhole[type=checkbox]:checked ~ label > .fishbonewhole {
    transform: scale(1.75);
    cursor: zoom-out;
}

/* FISHBONE: WHOLE*/
.wireframeuser{
    display: block;
    width: 80vw;
    cursor: zoom-in;
    transition: 1s ease;
    margin: auto;
}

#wireframeuser[type=checkbox]{
    display: none;
}

#wireframeuser[type=checkbox]:checked ~ label > .wireframeuser {
    transform: scale(1.75);
    cursor: zoom-out;
}

.wireframeowner{
    display: block;
    width: 80vw;
    cursor: zoom-in;
    transition: 1s ease;
    margin: auto;
}

#wireframeowner[type=checkbox]{
    display: none;
}

#wireframeowner[type=checkbox]:checked ~ label > .wireframeowner {
    transform: scale(1.75);
    cursor: zoom-out;
}

.list_pics{
    list-style-type: none;
    display: inline;
    text-align: center;
}

.pic-height{
    height: 400px;
    margin: auto;
}

.link_hover{
    color: #fffce7;
    padding: 14px 16px;
}

.link_hover:hover{
    background-color: #38362f;
}